.Bigcard {
    height: 70vh;
    max-width: 1000px;
    /* border: 1px solid red; */
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.386);
    border-radius: 50px;
    /* top: 50%; */
    /* left: 50%; */
    display: flex;
    overflow: hidden;
    background-color: #25272a;
    position: fixed;
}

.img_container {
    object-fit: cover;
    flex: none;
}

.img1 {
    object-fit: contain;
    align-items: center;
    margin: auto;
    height: 700px;
}

.card_container {
    flex: auto;
    border-radius: 0px 50px 50px 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.series_container {
    border-radius: 0px 50px 0px 0px;
}

.vol_container {
    overflow-y: auto;
    overflow-x: hidden;
    /* border-radius: 0px 0px 50px 0px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 17px;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #323437;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.304);
    border-radius: 15px;
}

.buttonclose {
    position: relative;
    background-color: #4CAF50;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #25272a;
    font-size: 15px;
}

.buttonclose:hover {
    color: #4CAF50;
    background-color: white;
    border: 3px solid #4CAF50;
}