main {
    background-color: #25272a;
}

.container-home {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: start;
    padding: 32px;
    gap: 32px;
}

.container-card {
    /* border: 1px solid pink; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    right: inherit;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-Bigcard {
    background-color: #444444d0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
}

.Bigcard-body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: none;
    padding-top: 120px;
}

.btn {
    display: block;
}

.container-filter {
    flex-shrink: 0;
    width: 12%;
    position: sticky;
    top: 100px;
    height: auto;
    /* border: 1px solid red; */
    /* margin-left: 1%; */
}

.tag-filter-continer {
    margin-top: 10px;
}

.filter {
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 10px;
    max-width: none;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    touch-action: manipulation;
    opacity: 0.9;
    width: 100%;
    transition: all 0.05s ease-in-out;
}

.filter:hover {
    background-color: #6fff74;
    color: black;
    transform: scale(1.05);
}

.filter-active {
    opacity: 1;
    background-color: rgb(19, 19, 19);
    color: #6fff74;
}

.search-bar-container {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0;
    /* margin: 10px 0; */
    background: transparent;
}

.search-input {
    width: 90%;
    height: 35px;
    border-radius: 15px;
    border: 2px solid #25272a;
    padding: 0 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.87);
    color: #111;
    transition: all 0.1s ease-in-out;
}

.search-input:hover {
    transform: scale(1.05);
}

.search-icon {
    right: 10px;
    background-color: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* input[type="checkbox"] {
    margin-top: 5%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.2em solid currentColor;
    border-radius: 0.8em;
    transform: translateY(-0.15em);
    vertical-align: middle;
    place-content: center;
}

.form-control+.form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    display: grid;
    content: "";
    width: 1.2em;
    height: 1.2em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    display: grid;
    transform: scale(1);
    background-color: #4CAF50;
    border-radius: 0.6em;
}

.Tag {
    font-size: 28px;
    vertical-align: middle;
    margin-left: 10%;
} */