.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.104);
    background-color: #25272a;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.navbar-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar-list li a:hover {
    color: #4CAF50;
}